.f1{
border: 0;
padding: 0px 20px 50px 20px;
margin: 20px;
background-color: aqua;
width: 100px;
}
.f2{
    width: 200px;
    height: 170px;
    border: 4px dashed cornflowerblue;
    margin: 40px 40px;
    padding: 20px;
    background-color: crimson;
}